In [1]:
import pandas as pd

In [2]:
pilot = pd.read_csv('ctx_list_pilot.tsv', sep='\t', header=0)

In [3]:
pilot

        sample_name                                           ctx_file
0      SAMD00016703  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
1      SAMD00017693  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
2      SAMD00017694  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
3      SAMD00017695  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
4      SAMD00017696  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
...             ...                                                ...
69662      02TB2100  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69663      02TB2181  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69664      02TB2077  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69665      02TB1949  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69666      02TB1533  /nfs/leia/research/iqbal/mhunt/Cryptic_product...

[69667 rows x 2 columns]

In [4]:
sa = pd.read_csv('sa_ctx_snames.list.tsv', sep='\t', header=None)

In [5]:
sa

              0                                                  1
0    YA00196031  /nfs/leia/research/iqbal/projects/mykrobeatlas...
1    YA00196028  /nfs/leia/research/iqbal/projects/mykrobeatlas...
2    YA00196035  /nfs/leia/research/iqbal/projects/mykrobeatlas...
3    YA00196034  /nfs/leia/research/iqbal/projects/mykrobeatlas...
4    YA00196030  /nfs/leia/research/iqbal/projects/mykrobeatlas...
..          ...                                                ...
502  YA00213802  /nfs/leia/research/iqbal/projects/mykrobeatlas...
503  YA00214490  /nfs/leia/research/iqbal/projects/mykrobeatlas...
504  YA00214491  /nfs/leia/research/iqbal/projects/mykrobeatlas...
505  YA00214494  /nfs/leia/research/iqbal/projects/mykrobeatlas...
506  YA00214496  /nfs/leia/research/iqbal/projects/mykrobeatlas...

[507 rows x 2 columns]

In [6]:
filtered = pd.read_csv('all.included.samples', header=None)

In [7]:
filtered

                  0
0        YA00196028
1        YA00196030
2        YA00196031
3        YA00196032
4        YA00196033
...             ...
68767  cryptic33004
68768  cryptic33005
68769  cryptic33006
68770  cryptic33007
68771  cryptic33008

[68772 rows x 1 columns]

In [24]:
pilot = pilot[pilot['sample_name'].isin(filtered[0])]

In [25]:
pilot

        sample_name                                           ctx_file
0      SAMD00016703  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
1      SAMD00017693  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
2      SAMD00017694  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
3      SAMD00017695  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
4      SAMD00017696  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
...             ...                                                ...
69662      02TB2100  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69663      02TB2181  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69664      02TB2077  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69665      02TB1949  /nfs/leia/research/iqbal/mhunt/Cryptic_product...
69666      02TB1533  /nfs/leia/research/iqbal/mhunt/Cryptic_product...

[67862 rows x 2 columns]

In [26]:
sa.columns = ['sample_name', 'ctx_file']
sa

    sample_name                                           ctx_file
0    YA00196031  /nfs/leia/research/iqbal/projects/mykrobeatlas...
1    YA00196028  /nfs/leia/research/iqbal/projects/mykrobeatlas...
2    YA00196035  /nfs/leia/research/iqbal/projects/mykrobeatlas...
3    YA00196034  /nfs/leia/research/iqbal/projects/mykrobeatlas...
4    YA00196030  /nfs/leia/research/iqbal/projects/mykrobeatlas...
..          ...                                                ...
502  YA00213802  /nfs/leia/research/iqbal/projects/mykrobeatlas...
503  YA00214490  /nfs/leia/research/iqbal/projects/mykrobeatlas...
504  YA00214491  /nfs/leia/research/iqbal/projects/mykrobeatlas...
505  YA00214494  /nfs/leia/research/iqbal/projects/mykrobeatlas...
506  YA00214496  /nfs/leia/research/iqbal/projects/mykrobeatlas...

[507 rows x 2 columns]

In [31]:
set(pilot['sample_name']).intersection(set(sa['sample_name']))

set()

In [36]:
new = pd.concat([pilot, sa])
new

      sample_name                                           ctx_file
0    SAMD00016703  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
1    SAMD00017693  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
2    SAMD00017694  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
3    SAMD00017695  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
4    SAMD00017696  /nfs/leia/research/iqbal/mhunt/Clockwork_ena_t...
..            ...                                                ...
502    YA00213802  /nfs/leia/research/iqbal/projects/mykrobeatlas...
503    YA00214490  /nfs/leia/research/iqbal/projects/mykrobeatlas...
504    YA00214491  /nfs/leia/research/iqbal/projects/mykrobeatlas...
505    YA00214494  /nfs/leia/research/iqbal/projects/mykrobeatlas...
506    YA00214496  /nfs/leia/research/iqbal/projects/mykrobeatlas...

[68369 rows x 2 columns]

In [37]:
new.to_csv('allctx', header=False, sep='\t', index=None)